@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span10 hero-unit hidden-phone">
        <div class="row">
            <div class="span6">
            <h1>Let's Get Tropical!</h1>
                Welcome to the 8th grade AAU basketball team, the Butler Tropics.
                </div>
            <div class="span4"><img class="img-rounded" src="~/Content/images/butler-tropics-team-logo.png" /></div>
        </div>
    </div>
    <div class="span3 visible-phone">
        <img class="img-rounded" src="~/Content/images/butler-tropics-team-logo.png" />
        <div class="text-center"><p><strong>Let's Get Tropical!</strong></p>
            <p>Welcome to the 8th grade AAU basketball team, <br />the Butler Tropics.</p></div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="homeCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                @for (int i = 0; i < 5; i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" @if(i==0){<text>class="active"</text>}></li>
                    }
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                @for (int i = 0; i < 5; i++)
                {
                    <div class="@if (i == 0){<text>active </text>}item">
                            <img class="img-polaroid" style="margin-left: auto;margin-right: auto;"  src="~/Content/images/home/carousel-@(i+".jpg")" />
                    </div>
                }
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
