@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span7">
        <div class="hero-unit">
            <h1>Let's Get Tropical!</h1>
            Welcome to the 8th grade AAU basketball team, the Butler Tropics.
        </div>
    </div>
    <div class="span3">
        <img class="img-rounded" src="~/Content/images/butler-tropics-logo.png" />
    </div>
</div>
<div class="row">
    <div class="span9">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item" style="height: 300px">
                    <div class="row">
                        <div class="span4 offset2">
                            <h2>Meet The Team</h2>
                            <img class="img-polaroid" src="~/Content/images/player.jpg" />
                        </div>
                    </div>

                </div>
                <div class="item" style="height: 300px !important">
                    <div class="row">
                        <div class="span4 offset2">
                            <h2>Check out Tropic Gear</h2>
                            <div class="alert alert-danger">Sold out!</div>
                            <img class="img-polaroid" src="~/Content/images/gear.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item" style="height: 300px">
                    <div class="row">
                        <div class="span4 offset2">
                            <h2>Let's get tropical!</h2>
                            <img class="img-polaroid" src="~/Content/images/butler-tropics-logo.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
