@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span7">
        <div class="hero-unit">
            <h1>Let's Get Tropical!</h1>
            Welcome to the 8th grade AAU basketball team, the Butler Tropics.
        </div>
    </div>
    <div class="span3">
        <img class="img-rounded" src="~/Content/images/butler-tropics-logo.png"/>
    </div>
</div>
